.location-area {
    min-height: 26rem;
    padding-top: 3rem;
    background-image: url('../../images/img-locations-background.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}